{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="chat-box">
    </div>
    <div id="page-bottom"></div>

    <div id="chat-bar">
        <form id="form" action="#">
            <input type="search" name="message" id="input-field" placeholder="Send a message" required>
            <button type="submit">Send</button>
        </form>
    </div>
{% endblock %}
