html {
    scroll-behavior: smooth;
}

#chat-bar {
    width: 100%;

    position: fixed;
    bottom: 1vw;
}


form {
    width: calc(100% - 2vw);
    display: flex;
    flex: row;

    column-gap: 5px;
}

form > * {
    padding: clamp(.5rem, 1vw, .8rem);
}

input {
    flex-grow: 1;
}

button[type="submit"] {
    background-color: #3867d6;
    border: 2px solid #3867d6;

    color: var(--text-color);

    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #4b7bec;
    border: 2px solid #4b7bec;
}

#page-bottom {
    height: clamp(4.5rem, 4.5vw, 5rem);
    background-color: #fff;
}

#errorBox {
    margin-bottom: 2px;
}